<div class="example-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="example-container">
  <mat-form-field>
    <input matInput placeholder="Список Категорий" formControlName="category">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Список Свойств" formControlName="value">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Список Операторов" formControlName="operators">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Список Значений" formControlName="property">
  </mat-form-field>
  <button mat-button *ngIf="form.touched">Cкачать</button>
  </form>

</div>
